{% extends 'base.html' %}

{% block content %}


<link rel="stylesheet" href="../static/css/home.css">
<div class="container write mt-4 text-center">
    <h3 class="text-capitalize text-info">Write your blog</h3>
    <hr>
    <img src="../static/images/blog.png" alt="" style="margin-top:-40px">
    <div class="card px-4 py-2 my-2">

        <form action="{% url 'home' %}" class="form-group" method="POST">
            {% csrf_token %}
            <input type="hidden">
            <input type="text" class="form-control my-3 title" placeholder="Title" name='title' required minlength="5">

            <textarea name="description" cols="30" rows="6" class="form-control description" placeholder="Description"
                required minlength=10></textarea>

            <div class="mt-2">

                <button class="btn btn-outline-primary mt-2" type="submit">Submit</button>
            </div>

        </form>

    </div>
</div>




{% endblock %}