{% extends 'base.html' %}
{%  block content %}

<link rel="stylesheet" href="../static/css/login.css">
<div class="container my-4">

    <div class="container card p-3 my-4 text-center" style="display: block">
        <h3 class="text-danger mb-2">Login</h3>
        <hr>
        <img src="../static/images/user (1).png" alt="" style="margin-top:-30px">
        <form action="{% url 'login'  %}" class="form-group px-4 py-2" method="POST">

            {% csrf_token %}




            <input type="text" class="form-control my-2" placeholder="Username" maxlength="60" minlength="3"
                name="username" type=''>


            <input class="form-control my-2" placeholder="Password" maxlength="100" name="password" type="password">

            <button class="btn btn-outline-primary mb-3 mt-2">Login</button>

            <p class="text-secondary"> Not register? Click <a href="{% url 'signup' %}">here</a></p>
        </form>



    </div>
</div>

{% endblock %}