{% extends 'base.html' %}

{% block content  %}

<div class="container mt-4 center">

    <h1>Public Blogs</h1>
    <hr>
</div>
<div class="container mt-3 p-2">

    <div class="card p-3">

        <div class="row p-2">

            {% for article in articles %}
            <div class="col-md-4 p-2 ">
                <div class="p-3 card">
                    <div style="border-bottom:1px solid rgb(228, 231, 228)">
                        <h4>{{ article.title }}</h4>
                        <p class="text-secondary float-right" style="font-size: 10px;margin-bottom:5px">
                            {{article.date}}
                        </p>
                    </div>

                    <p class="text-secondary py-2">{{ article.description }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}